[user]
	name = Maximo Martinez Soria
	email = maximo.martinezsoria@gmail.com

[alias]
	tree = log --all --graph --decorate --oneline

[init]
	defaultBranch = main

[core]
	editor = nvim

[pull]
	rebase = false

