[user]
	name = Maximo Martinez Soria
	email = mmartinez@40q.agency

[alias]
	tree = log --all --graph --decorate --oneline

[init]
	defaultBranch = main

[core]
	editor = nvim

[pull]
	rebase = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
