[user]
	name = Maximo Martinez Soria
	email = maximo.martinezsoria@gmail.com

[alias]
	tree = log --all --graph --decorate --oneline
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	editor = vim
